# Import modules

In [2]:
import numpy as np
import pingouin as pg
import pandas as pd
import seaborn as sns
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy

/usr/local/lib/python3.8/dist-packages/outdated/utils.py:14: OutdatedPackageWarning: The package outdated is out of date. Your version is 0.2.0, the latest is 0.2.1.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

# Functions (helpers)

In [3]:
def read_csv(name, info=True, sep=','):
    df = pd.read_csv(f'../data/demographics/{name}.csv', sep=sep)
    # pd.set_option('display.max_columns', None)
    # pd.set_option('max_columns', None)
    if info:
        print_section('DATASET INFO')
        print('N rows=', df.size)
        print('N cols=', len(df.columns))
        print(df.head())
    return df

def print_section(title):
    print('\n')
    print( '*' + '-' * 135 + '*')
    print('* ' + title)
    print( '*' + '-' * 135 + '*')

def print_subsection(title):
    print('\n')
    print('***** ' + title + ' *****')
    print( '*' + '-' * 135 + '*')

In [13]:
filenames = [
   'interleaved_incomplete', 'block_complete',
   'block_complete_simple',
   'block_complete_mixed',  'block_complete_mixed_2s','block_complete_mixed_2s_amb_heuristic',
   'block_complete_mixed_2s_amb_final', 'incentivize', 'evoutcome'

]
dem = {}
for f in filenames:
    if f == 'block_complete_mixed_2s_amb_final':
        dem[f] = pd.read_csv('../data/demographics/' + f + '.csv', sep=';')
    else: dem[f] = read_csv(f)

# d = dem["block_incomplete"][dem['block_incomplete']['status'] == 'APPROVED']
# d
df = {}
ids = pd.read_csv('../sub_ids.csv')
ids['prolific_id'] = 'nothing'
for f in filenames:
    df = pd.read_csv('../data/csv/' + f + '.csv', header=None)
    # df.loc[-1] = [str(i) for i in range(len(df.columns))]  # adding a row
    # df.index = df.index + 1  # shifting index
    # df.sort_index(inplace=True) 
    for i in ids[ids.exp_name==f]['id']:
        try:
            prolific_id = df[df[1]==i][2].unique()[0]
        # break
            ids.loc[ids.id==i, 'prolific_id'] = prolific_id
        except:
            try:
                prolific_id = df[df[1]==str(i)][2].unique()[0]
                ids.loc[ids.id==i, 'prolific_id'] = prolific_id
            except:
                print(i, ' is missing...')
    
# for i in ids['id']:
    # df
ids.to_csv('../sub_ids_with_prolific_id.csv', index=False)

*---------------------------------------------------------------------------------------------------------------------------------------*
* DATASET INFO
*---------------------------------------------------------------------------------------------------------------------------------------*
N rows= 2760
N cols= 20
                 session_id            participant_id    status  \
0  5d30c987983db9001aee0190  5d30b98eb8f4a500193ce6c6  APPROVED
1  5d30c9b8aa269b00194c5ae0  596a460792973f0001edc027  RETURNED
2  5d30c9c798a422001930c607  5d30c81f5f791a001fb95cae  APPROVED
3  5d30c9ddae02c60019777caa  5c15987500b8ee0001d0e380  APPROVED
4  5d30c9ed459d15000139e59f  5d30c6a98c13a90015651c44  APPROVED

             started_datetime         completed_date_time    time_taken   age  \
0  2019-07-18 19:33:30.822000  2019-07-18 20:04:30.531000  1.859709e+03  21.0
1  2019-07-18 19:34:25.817000                         NaN  6.150167e+07  56.0
2  2019-07-18 19:34:33.730000  2019-07-18 20:00:55.477000  1.581747e+03  20.0
3  2019-07-18 19:35:09.006000  2019-07-18 20:06:24.608000  1.875602e+03   NaN
4  2019-07-18 19:35:20.477000  2019-07-18 20:07:09.506000  1.909029e+03  51.0

   num_approvals  num_rejections  prolific_score        reviewed_at_datetime  \
0            156               0             100  2019-07-24 10:28:58.305000
1            269               2             100                         NaN
2             55               0             100  2019-07-24 10:29:00.062000
3            194               1             100  2019-07-24 10:29:03.749000
4              4               0             100  2019-07-24 10:29:07.201000

  entered_code Country of Birth Current Country of Residence  \
0     RNFS5HP5    United States                United States
1          NaN  CONSENT REVOKED              CONSENT REVOKED
2     RNFS5HP5   United Kingdom               United Kingdom
3     RNFS5HP5     DATA EXPIRED                 DATA EXPIRED
4     RNFS5HP5    United States               Czech Republic

                              Employment Status   First Language  \
0                                  DATA EXPIRED          English
1                               CONSENT REVOKED  CONSENT REVOKED
2                  Unemployed (and job seeking)          English
3  Due to start a new job within the next month        Ukrainian
4                                  DATA EXPIRED     DATA EXPIRED

       Nationality              Sex   Student Status  bonus
0             Peru             Male     DATA EXPIRED   3.19
1  CONSENT REVOKED  CONSENT REVOKED  CONSENT REVOKED    NaN
2   United Kingdom             Male              Yes   3.29
3     DATA EXPIRED           Female     DATA EXPIRED   2.88
4    United States             Male     DATA EXPIRED   3.39


*---------------------------------------------------------------------------------------------------------------------------------------*
* DATASET INFO
*---------------------------------------------------------------------------------------------------------------------------------------*
N rows= 2340
N cols= 20
                 session_id            participant_id    status  \
0  5d724dd6feb6240017e67a44  5cc1f4d8ef7ba20017330c2a  APPROVED
1  5d724de5dee4ed0001ab7ba3  5ca774778d77140001bac224  RETURNED
2  5d724de7efaf37000161762f  5ca74abb394ff60012255dc2  APPROVED
3  5d724e023785810001af07ec  5cf000a45ee75700181cb478  APPROVED
4  5d724e0bee2aac00199700bd  5d6e7dad5483b9001623bf7d  APPROVED

             started_datetime         completed_date_time    time_taken   age  \
0  2019-09-06 12:15:41.381000  2019-09-06 12:45:55.545000  1.814164e+03  26.0
1  2019-09-06 12:15:38.064000                         NaN  5.728571e+07  20.0
2  2019-09-06 12:15:46.009000  2019-09-06 12:58:52.543000  2.586534e+03  24.0
3  2019-09-06 12:16:22.985000  2019-09-06 13:00:14.808000  2.631823e+03  21.0
4  2019-09-06 12:16:18.702000  2019-09-06 13:12:14.004000  3.355302e+03  26.0

   num_approvals  num_rejections  prolific_score        reviewed_at_datetime  \
0             62               0             100  2019-09-06 16:08:32.730000
1             33               1              99                         NaN
2              1               0             100  2019-09-06 16:08:33.809000
3             39               0             100  2019-09-06 16:08:34.689000
4             36               4              83  2019-09-06 16:08:35.688000

  entered_code Country of Birth Current Country of Residence  \
0     RNFS5HP5         Slovenia                     Slovenia
1          NaN  CONSENT REVOKED              CONSENT REVOKED
2     RNFS5HP5         Portugal                     Portugal
3     RNFS5HP5            Italy                        Italy
4     RNFS5HP5           Greece                       Greece

  Employment Status   First Language      Nationality              Sex  \
0      DATA EXPIRED        Slovenian         Slovenia             Male
1   CONSENT REVOKED  CONSENT REVOKED  CONSENT REVOKED  CONSENT REVOKED
2      DATA EXPIRED       Portuguese         Portugal           Female
3      DATA EXPIRED          Italian            Italy           Female
4      DATA EXPIRED            Greek           Greece             Male

    Student Status  bonus
0     DATA EXPIRED   4.64
1  CONSENT REVOKED    NaN
2     DATA EXPIRED   4.49
3     DATA EXPIRED   4.90
4     DATA EXPIRED    NaN


*---------------------------------------------------------------------------------------------------------------------------------------*
* DATASET INFO
*---------------------------------------------------------------------------------------------------------------------------------------*
N rows= 2440
N cols= 20
                 session_id            participant_id    status  \
0  5e5fc7495004a20116249c2e  5cf3c1995922c600173a5465  REJECTED
1  5e5fc75b4904ef2ffb46ef65  5b3d79ec4915d00001828240  APPROVED
2  5e5fc7c4979e2a021e39e124  5e5f97632036112d63c13d99  APPROVED
3  5e5fc7ca9dd9393087c826c2  5e5f96b3f28a102ce012dc71  APPROVED
4  5e5fc7f459ee8d01713105e9  5c1f7cba18a5a60001762f79  APPROVED

             started_datetime         completed_date_time  time_taken   age  \
0  2020-03-04 15:20:46.130000  2020-03-04 15:25:10.226000     264.096  51.0
1  2020-03-04 15:20:59.745000  2020-03-04 16:25:01.353000    3841.608  48.0
2  2020-03-04 15:23:02.123000  2020-03-04 16:13:49.456000    3047.333  44.0
3  2020-03-04 15:22:50.012000  2020-03-04 15:54:28.133000    1898.121  24.0
4  2020-03-04 15:24:30.743000  2020-03-04 16:39:55.854000    4525.111  37.0

   num_approvals  num_rejections  prolific_score        reviewed_at_datetime  \
0              1               1              87  2020-03-04 16:55:26.397000
1            269               0             100  2020-03-04 17:07:02.532000
2              4               0             100  2020-03-04 17:07:03.569000
3             96               2              99  2020-03-04 17:07:04.913000
4             32               0             100  2020-03-04 17:07:05.953000

               entered_code Country of Birth Current Country of Residence  \
0  5cf3c1995922c600173a5465           Poland                       Poland
1                  RNFS5HP5         Portugal                     Portugal
2                  RNFS5HP5   United Kingdom               United Kingdom
3                  RNFS5HP5          Romania                      Denmark
4                  RNFS5HP5           Mexico                       Mexico

  Employment Status First Language     Nationality     Sex Student Status  \
0      DATA EXPIRED         Polish          Poland  Female   DATA EXPIRED
1      DATA EXPIRED     Portuguese        Portugal  Female             No
2      DATA EXPIRED        English  United Kingdom  Female   DATA EXPIRED
3      DATA EXPIRED       Romanian         Romania  Female            Yes
4      DATA EXPIRED        Spanish          Mexico    Male   DATA EXPIRED

   bonus
0    NaN
1   4.12
2    NaN
3   4.97
4    NaN


*---------------------------------------------------------------------------------------------------------------------------------------*
* DATASET INFO
*---------------------------------------------------------------------------------------------------------------------------------------*
N rows= 2280
N cols= 20
                 session_id            participant_id    status  \
0  5dc96aeaddaa4d67de66d082  5c49b08b8133a40001bb0d82  RETURNED
1  5dc96afe6bba9b67a2fb8627  5adb312cdee8590001b00f11  APPROVED
2  5dc96b1df375a9689925ebb2  5d0a6bc57a112a0019c4329f  RETURNED
3  5dc96b29441a2168026cb7b7  5dc80bda092079592fb337f6  APPROVED
4  5dc96b2d37023967457a8e42  5b590817db94af0001394211  APPROVED

             started_datetime         completed_date_time    time_taken   age  \
0  2019-11-11 14:16:34.850000                         NaN  5.157676e+07  23.0
1  2019-11-11 14:07:05.490000  2019-11-11 14:35:51.533000  1.726043e+03  25.0
2  2019-11-11 14:07:26.730000                         NaN  5.157731e+07  25.0
3  2019-11-11 14:07:59.630000  2019-11-11 14:57:19.052000  2.959422e+03  26.0
4  2019-11-11 14:07:43.852000  2019-11-11 15:02:05.779000  3.261927e+03  26.0

   num_approvals  num_rejections  prolific_score        reviewed_at_datetime  \
0             60               2              99                         NaN
1            185               3              99  2019-11-11 17:33:22.195000
2             80               0             100                         NaN
3             25               0             100  2019-11-11 17:33:23.846000
4            171               0             100  2019-11-11 17:33:25.559000

  entered_code Country of Birth Current Country of Residence  \
0          NaN  CONSENT REVOKED              CONSENT REVOKED
1     RNFS5HP5         Portugal                     Portugal
2          NaN  CONSENT REVOKED              CONSENT REVOKED
3     RNFS5HP5           Poland                       Poland
4     RNFS5HP5           Canada                       Canada

  Employment Status   First Language      Nationality              Sex  \
0   CONSENT REVOKED  CONSENT REVOKED  CONSENT REVOKED  CONSENT REVOKED
1         Full-Time       Portuguese         Portugal             Male
2   CONSENT REVOKED  CONSENT REVOKED  CONSENT REVOKED  CONSENT REVOKED
3      DATA EXPIRED           Polish           Poland             Male
4      DATA EXPIRED          English           Canada           Female

    Student Status  bonus
0  CONSENT REVOKED    NaN
1     DATA EXPIRED   2.89
2  CONSENT REVOKED    NaN
3     DATA EXPIRED   4.93
4     DATA EXPIRED   4.46


*---------------------------------------------------------------------------------------------------------------------------------------*
* DATASET INFO
*---------------------------------------------------------------------------------------------------------------------------------------*
N rows= 2620
N cols= 20
                 session_id            participant_id    status  \
0  5dd69c6f848b0f61c757e8ff  5dd693982b033b60fe1efe92  APPROVED
1  5dd69cb7fef7c26282c9ec19  5c92c143719a1d0018e5e089  APPROVED
2  5dd69cb818beb661ac0dfe96  5c3f927ae3183b0001fa00e8  APPROVED
3  5dd69cd27beb2962256c5f88  59d4ff54e59146000112e5b1  APPROVED
4  5dd69cd4e05cad61c79101b8  5dd607295686c15b3546af4b  APPROVED

             started_datetime         completed_date_time  time_taken   age  \
0  2019-11-21 14:17:38.641000  2019-11-21 15:39:11.462000    4892.821  31.0
1  2019-11-21 14:18:44.915000  2019-11-21 16:03:44.758000    6299.843  50.0
2  2019-11-21 14:18:40.069000  2019-11-21 15:06:46.116000    2886.047  45.0
3  2019-11-21 14:19:04.765000  2019-11-21 15:35:08.792000    4564.027  48.0
4  2019-11-21 14:19:23.914000  2019-11-21 15:10:00.200000    3036.286  41.0

   num_approvals  num_rejections  prolific_score        reviewed_at_datetime  \
0             11               0             100  2019-11-21 15:54:23.837000
1            185               1             100  2019-11-21 16:04:42.568000
2            126               1              99  2019-11-21 15:54:24.876000
3            218               1             100  2019-11-21 15:54:25.805000
4            150               0             100  2019-11-21 15:54:26.708000

  entered_code Country of Birth Current Country of Residence  \
0     RNFS5HP5    United States                United States
1     RNFS5HP5           Zambia               United Kingdom
2     RNFS5HP5   United Kingdom               United Kingdom
3     RNFS5HP5   United Kingdom               United Kingdom
4     RNFS5HP5    United States                United States

  Employment Status First Language     Nationality     Sex Student Status  \
0      DATA EXPIRED        English     Philippines  Female   DATA EXPIRED
1      DATA EXPIRED        English  United Kingdom  Female   DATA EXPIRED
2      DATA EXPIRED        English  United Kingdom    Male   DATA EXPIRED
3      DATA EXPIRED        English  United Kingdom  Female   DATA EXPIRED
4      DATA EXPIRED        English   United States    Male   DATA EXPIRED

   bonus
0   4.87
1   3.67
2   3.72
3   3.91
4   4.24


*---------------------------------------------------------------------------------------------------------------------------------------*
* DATASET INFO
*---------------------------------------------------------------------------------------------------------------------------------------*
N rows= 2440
N cols= 20
                 session_id            participant_id    status  \
0  5e173ea62b0135046bc1d80b  5dd1bbc5eab0422259102ab9  APPROVED
1  5e173ed0406813046d7a4cf5  5e162e31398bb6c0ab5c2428  RETURNED
2  5e173f07103b87000b4046ca  5e132347375134000b3d1236  APPROVED
3  5e173f2d5bcd43050d27bba3  5dcc75043e78ea90f63ecabb  APPROVED
4  5e173f2df8c7b4000b98227a  57d3d0b994cb1b0001605d30  APPROVED

             started_datetime         completed_date_time    time_taken   age  \
0  2020-01-09 14:54:35.042000  2020-01-09 16:25:48.305000  5.473263e+03  42.0
1  2020-01-09 14:55:18.142000                         NaN  7.048599e+07  56.0
2  2020-01-09 14:56:28.977000  2020-01-09 15:56:39.240000  3.610263e+03  26.0
3  2020-01-09 14:56:53.074000  2020-01-09 16:49:56.216000  6.783142e+03  32.0
4  2020-01-09 15:00:53.701000  2020-01-09 15:58:15.120000  3.441419e+03  29.0

   num_approvals  num_rejections  prolific_score        reviewed_at_datetime  \
0            318               4              97  2020-01-10 10:27:14.608000
1            266               1             100                         NaN
2              1               0             100  2020-01-10 10:27:15.551000
3            140               0             100  2020-01-10 10:27:16.644000
4             62               0             101  2020-01-10 10:27:17.541000

  entered_code Country of Birth Current Country of Residence  \
0   3DRNFS5HP5    United States                United States
1          NaN  CONSENT REVOKED              CONSENT REVOKED
2     RNFS5HP5   United Kingdom               United Kingdom
3     RNFS5HP5     DATA EXPIRED               United Kingdom
4     RNFS5HP5           Cyprus               United Kingdom

  Employment Status   First Language      Nationality              Sex  \
0      DATA EXPIRED          English         Colombia           Female
1   CONSENT REVOKED  CONSENT REVOKED  CONSENT REVOKED  CONSENT REVOKED
2      DATA EXPIRED          English   United Kingdom             Male
3      DATA EXPIRED     DATA EXPIRED     DATA EXPIRED           Female
4      DATA EXPIRED          English   United Kingdom           Female

    Student Status  bonus
0     DATA EXPIRED   4.50
1  CONSENT REVOKED    NaN
2     DATA EXPIRED   4.59
3     DATA EXPIRED   2.92
4     DATA EXPIRED   3.85


*---------------------------------------------------------------------------------------------------------------------------------------*
* DATASET INFO
*---------------------------------------------------------------------------------------------------------------------------------------*
N rows= 2100
N cols= 21
              Submission id            Participant id    Status  \
0  62961eb7c02271305172ea9c  613a82ea0caa38af897827fc  APPROVED
1  62961eb8178cfc4dd89f2d1f  6172150f04c545e20b4d5af9  APPROVED
2  62961eb836215abd84894015  6173043badff9e638ce8ca2d  APPROVED
3  62961eca2bb144a488c482fb  6063f65c58167d6efa46e430  APPROVED
4  62961ecf47dc85e8afecd7aa  5fafdefb35f42e2c00093fbe  APPROVED

                    Started at                 Completed at  \
0  2022-05-31T14:04:53.713000Z  2022-05-31T15:25:42.023000Z
1  2022-05-31T13:57:28.130000Z  2022-05-31T14:44:36.556000Z
2  2022-05-31T13:57:15.913000Z  2022-05-31T14:39:20.233000Z
3  2022-05-31T13:57:30.799000Z  2022-05-31T14:49:25.529000Z
4  2022-05-31T13:57:39.795000Z  2022-05-31T14:40:23.057000Z

                   Reviewed at  Archived at  Time taken  \
0  2022-06-01T16:07:21.097000Z          NaN        4849
1  2022-06-01T16:07:21.356000Z          NaN        2829
2  2022-06-01T16:07:21.585000Z          NaN        2525
3  2022-06-01T16:07:21.772000Z          NaN        3115
4  2022-05-31T15:16:25.551000Z          NaN        2564

             Completion code  Total approvals  ...  Approval rate  Age  \
0                     NOCODE               40  ...            100   22
1                   RNFS5HP5              102  ...            100   22
2                     NOCODE              304  ...            100   21
3                   RNFS5HP5              161  ...            100   30
4  404 not found code showed               93  ...            100   24

      Sex Ethnicity simplified Country of birth Country of residence  \
0  Female                Other           Mexico               Mexico
1  Female                Black     DATA_EXPIRED         South Africa
2  Female         DATA_EXPIRED    United States        United States
3    Male                Other            Chile                Chile
4  Female                White   Czech Republic              Ireland

      Nationality      Language Student status Employment status
0          Mexico       Spanish            Yes      DATA_EXPIRED
1    South Africa  DATA_EXPIRED   DATA_EXPIRED      DATA_EXPIRED
2   United States       English            Yes      DATA_EXPIRED
3           Chile       Spanish             No         Full-Time
4  Czech Republic         Czech   DATA_EXPIRED         Part-Time

[5 rows x 21 columns]


*---------------------------------------------------------------------------------------------------------------------------------------*
* DATASET INFO
*---------------------------------------------------------------------------------------------------------------------------------------*
N rows= 2100
N cols= 21
              Submission id            Participant id    Status  \
0  629e1bb6cb971b1978e77ee0  60717e12499498909e4883f1  APPROVED
1  629e1bba5122dc5517bf79cb  61006e8a4fe954de47730409  APPROVED
2  629e1bbddd4f7b0ef41b7555  607ea5504e74d104da5a108a  APPROVED
3  629e1bbe03f883adfb7af43b  5f4fdcd78bb76c105ccdc80f  APPROVED
4  629e1bc0fd1fbf5526031e02  611d05e0ee4afd960f1e6e77  APPROVED

                    Started at                 Completed at  \
0  2022-06-06T15:22:30.045000Z  2022-06-06T16:49:50.018000Z
1  2022-06-06T15:22:34.862000Z  2022-06-06T16:11:21.071000Z
2  2022-06-06T15:22:39.226000Z  2022-06-06T16:05:56.894000Z
3  2022-06-06T15:22:43.245000Z  2022-06-06T16:06:11.298000Z
4  2022-06-06T15:22:46.256000Z  2022-06-06T16:21:17.116000Z

                   Reviewed at  Archived at  Time taken Completion code  \
0  2022-06-08T19:18:58.542000Z          NaN        5240        RNFS5HP5
1  2022-06-08T19:18:58.685000Z          NaN        2927        RNFS5HP5
2  2022-06-08T19:18:58.796000Z          NaN        2598        RNFS5HP5
3  2022-06-08T19:18:58.988000Z          NaN        2609        RNFS5HP5
4  2022-06-08T19:18:59.097000Z          NaN        3511        RNFS5HP5

   Total approvals  ...  Approval rate  Age     Sex Ethnicity simplified  \
0               39  ...            100   20    Male                White

/home/getz/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,3,4,5,6,7,8,9,10,11,12,13,14,15,18,19,20,21,22,23,24,25,26,27,28,29) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [29]:
df = pd.read_csv('../sub_ids_with_prolific_id.csv')

ids = df['prolific_id'].unique()
exps = df['exp_name'].unique()
df['age'] = np.nan
df['gender'] = np.nan
for f in exps:
    sep = ','
    if f == 'block_incomplete':
        continue
    if f == 'block_complete_mixed_2s_amb_final':
        sep = ';'
    print(f)
    dem = pd.read_csv('../data/demographics/' + f + '.csv', sep=sep)
    for i in ids:
        try:
            df.loc[df.prolific_id==i, 'gender'] = dem.loc[dem['participant_id'] == i, 'Sex'].values[0]
            df.loc[df.prolific_id==i, 'age'] = dem.loc[dem['participant_id'] == i, 'age'].values[0]
        except:
            # print(i, ' is missing...')
            pass
df

interleaved_incomplete
block_complete
block_complete_simple
block_complete_mixed
block_complete_mixed_2s
block_complete_mixed_2s_amb_heuristic
block_complete_mixed_2s_amb_final
incentivize
evoutcome

,id,exp_num,exp_name,prolific_id,age,gender
0,76422442,1,interleaved_incomplete,5d30c0f46cc6bd0020882925,26.0,Female
1,192489031,1,interleaved_incomplete,5d3ebe453a0c0100162313b9,31.0,Female
2,324224518,1,interleaved_incomplete,5d3ebb0d64c213001ad49fb0,24.0,Female
3,543099212,1,interleaved_incomplete,5cd875edf7470b0016e9ca83,29.0,Female
4,635786936,1,interleaved_incomplete,5d0bccb311a6b5001588347b,63.0,Male
...,...,...,...,...,...,...
748,9049475133,10,evoutcome,5f1e9db721e4f101783fe21c,21,Male
749,9195332330,10,evoutcome,61119ee3576ae2aa2cc8cc32,19,Female
750,9391982197,10,evoutcome,5f68f02c41716709ee9be42d,25,Male
751,9484643174,10,evoutcome,615767861330080eb8cad21c,36,Female
752,9719041872,10,evoutcome,609e5ee2411558f6ee4cc7d7,22,Male